* {
	box-sizing: border-box;
}

body {
	background-image: url(background.png);
}

#text {
	color: white;
}

#gifBox {
	float: left;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: .5em;
}

#buttonBox {
	float: right;
}

#emotionId {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#text {
	text-align: center;
}

#buttonBox , #gifBox {
	margin: .5em;
	background-color: white;
	text-align: center;
	padding-bottom: .5em;
}

img {
	padding: .25em;
}